body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  height: 85px;
  width: 100%;
  background-color: #DB7093;
  position: fixed;
  top: 0;
  z-index: 10;
  color: #fff;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
  font-weight: bold;
}

.header-list a {
  float: left;
  font-size: 20px;
  padding: 30px 30px;
  color: white;
  display: block;
}

.main {
  padding: 100px 80px;
}

.copy-container h1 {
  font-size: 80px;
}

.copy-container h2 {
  font-size: 40px;
}

.copy-container span {
  color: white;
}

.contents {
  height: 4500px;
  margin-top: 20px;
  margin-bottom: 100px;
  
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.contents-item {
  margin-right: 500px;
  margin-bottom: 10px;
}

.contents-item p {
  font-size: 35px;
  margin-top: 10px;
  font-weight: bold;
}

.txt-contents {
  font-size: 25px;
  margin-bottom: 40px;
}

.contact-form {
  padding-top: 300px;
}

input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
  cursor: pointer;
}

.footer {
  background-color: #DB7093;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
  font-weight: bold;
}

.footer-list {
  float: right;
  cursor: pointer;
}

.footer-list li {
  padding: 10px 10px;
  color: white;
}

.btn {
}

.btn:hover {
  opacity: 1;
  background-color: pink;
}

.fa {
  margin-right: 5px;
}

body {
  background-color: #FFB6C1;
}
